@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800|Lato:400,700");
a:focus, div:focus, button:focus, input:focus {
  outline: none;
}

.form-control:focus {
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  border-color: transparent;
}

.btn-primary.focus, .btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
}

::selection {
  background: #6F2277;
  color: #ffffff;
}

body {
  font-family: "Raleway", sans-serif;
}
body .navbar {
  background: #6F2277;
  color: #ffffff;
}
body .navbar .menu-otras_ideas-nav-container {
  margin-left: auto !important;
  margin-right: 0.6rem;
}
body .navbar ul li a {
  color: #ffffff;
}
body .navbar ul li a:hover {
  text-decoration: none;
}
body .navbar ul.rrss {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
body .navbar ul.rrss li {
  display: inline-block;
  padding: 0.5rem;
}
body header {
  height: 70vh;
  position: relative;
  background-position: center;
  background-size: cover;
  color: #ffffff;
  border-bottom: 10px solid #26B9A0;
}
body header h1 {
  font-weight: 800;
  font-size: 1.9rem;
  border-bottom: 2px solid #ffffff;
  padding-bottom: 1rem;
}
body header p {
  font-weight: 600;
  font-size: 1rem;
}
body header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(111, 34, 119, 0.5);
}
body h2 {
  color: #6F2277;
  font-weight: 800;
  font-size: 1.8rem;
  position: relative;
  margin-bottom: 3rem;
}
body h2::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  background: #6F2277;
  width: 50px;
  height: 5px;
}
body section {
  padding: 4rem 0;
}
body section#servicios {
  background: #F2F2F2;
}
body section#servicios h2 {
  color: #26B9A0;
}
body section#servicios h2::after {
  content: "";
  position: absolute;
  background: #26B9A0;
}
body section#servicios .content-brouchure {
  cursor: pointer;
  webkit-transition: all 300ms ease;
  moz-transition: all 300ms ease;
  ms-transition: all 300ms ease;
  o-transition: all 300ms ease;
  transition: all 300ms ease;
}
body section#servicios .content-brouchure:hover {
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
body section#servicios .content-servicios {
  background: #ffffff;
  padding: 1rem;
  webkit-transition: all 300ms ease;
  moz-transition: all 300ms ease;
  ms-transition: all 300ms ease;
  o-transition: all 300ms ease;
  transition: all 300ms ease;
  height: 220px;
  margin-bottom: 30px;
}
body section#servicios .content-servicios h3 {
  color: #26B9A0;
  font-size: 19px;
  font-weight: 700;
}
body section#servicios .content-servicios p {
  color: #3A3A3A;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
}
body section#clientes img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  webkit-transition: all 500ms ease;
  moz-transition: all 500ms ease;
  ms-transition: all 500ms ease;
  o-transition: all 500ms ease;
  transition: all 500ms ease;
}
body section#clientes img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  webkit-transition: all 500ms ease;
  moz-transition: all 500ms ease;
  ms-transition: all 500ms ease;
  o-transition: all 500ms ease;
  transition: all 500ms ease;
}
body section#equipo {
  background: #F2F2F2;
}
body section#equipo .info-equipo {
  margin-bottom: 4rem;
  color: #6F2277;
  font-weight: 300;
}
body section#equipo .content-equipo {
  background: #6F2277;
  padding: 1rem;
  height: 250px;
  color: #ffffff;
  position: relative;
}
body section#equipo .content-equipo::before {
  content: "";
  position: absolute;
  background: url(../images/arrow-team.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 25px;
  width: 13px;
  display: block;
  top: calc(50% - 13px);
  left: -12px;
}
body section#equipo .content-equipo h4 {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 0;
}
body section#equipo .content-equipo h5 {
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 0.9rem;
}
body section#equipo .content-equipo p {
  font-weight: 300;
  font-size: 14px;
}
body section#testimonio .slick-slide {
  padding: 3.5rem 3rem 3rem;
  margin: 0 0.5rem;
  border: 1px solid #F2F2F2;
  position: relative;
  min-height: 250px;
}
body section#testimonio .slick-slide::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 25px;
  top: 15px;
  left: 15px;
  background: url(../images/testimonio-izq.svg) no-repeat center;
}
body section#testimonio .slick-slide::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 25px;
  bottom: 15px;
  right: 15px;
  background: url(../images/testimonio-der.svg) no-repeat center;
}
body section#testimonio .slick-slide p {
  color: #6F2277;
  font-size: 15px;
  font-weight: 400;
}
body section#testimonio .slick-slide p span {
  font-weight: 300;
}
body section#testimonio .slick-slide p:nth-child(2) {
  margin-bottom: 0;
}
body section#testimonio .slick-dots li {
  padding: 0;
  width: 10px;
  height: 10px;
}
body section#testimonio .slick-dots li button {
  padding: 0;
  width: 10px;
  height: 10px;
  webkit-transition: all 500ms ease;
  moz-transition: all 500ms ease;
  ms-transition: all 500ms ease;
  o-transition: all 500ms ease;
  transition: all 500ms ease;
}
body section#testimonio .slick-dots li button:before {
  content: "";
  width: 10px;
  height: 10px;
  border: 1px solid #6F2277;
  border-radius: 50%;
  opacity: 1;
  webkit-transition: all 500ms ease;
  moz-transition: all 500ms ease;
  ms-transition: all 500ms ease;
  o-transition: all 500ms ease;
  transition: all 500ms ease;
}
body section#testimonio .slick-dots li button:hover:before, body section#testimonio .slick-dots li .slick-dots li button:focus:before {
  background: #6F2277;
}
body section#testimonio .slick-dots li.slick-active button:before {
  opacity: 1;
  background: #6F2277;
}
body section#contacto {
  position: relative;
}
body section#contacto .bg-contacto {
  position: absolute;
  background-size: cover !important;
  background-position: center !important;
  height: 500px;
  width: 100%;
}
body section#contacto .container-contacto {
  background: #ffffff;
  margin-top: 250px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
body section#contacto .container-contacto .form {
  padding: 1.5rem 3rem;
}
body section#contacto .container-contacto .form .form-control {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #6F2277;
  border: 0;
  border-bottom: 1px solid #6F2277;
  border-radius: 0;
  font-weight: 500;
  font-family: "Lato", sans-serif;
}
body section#contacto .container-contacto .form .form-control::-webkit-input-placeholder {
  color: #6F2277;
  font-weight: 500;
}
body section#contacto .container-contacto .form .form-control::-moz-placeholder {
  color: #6F2277;
  font-weight: 500;
}
body section#contacto .container-contacto .form .form-control:-ms-input-placeholder {
  color: #6F2277;
  font-weight: 500;
}
body section#contacto .container-contacto .form .form-control:-moz-placeholder {
  color: #6F2277;
  font-weight: 500;
}
body section#contacto .container-contacto .form textarea {
  resize: none;
}
body section#contacto .container-contacto .form .ajax-loader {
  position: absolute;
}
body section#contacto .container-contacto .form span.wpcf7-not-valid-tip {
  color: #af0c0c;
  font-size: 0.6rem;
}
body section#contacto .container-contacto .form div.wpcf7-validation-errors, body section#contacto .container-contacto .form div.wpcf7-acceptance-missing,
body section#contacto .container-contacto .form div.wpcf7-mail-sent-ok {
  border: 0;
  border-top: 2px solid #6F2277;
  margin: 0.5em;
  padding: 0.2em 0;
  color: #6F2277;
  font-size: 0.9rem;
}
body section#contacto .container-contacto .form .btn {
  background: #ffffff;
  border: 1px solid #6F2277;
  border-radius: 0;
  font-weight: 500;
  color: #6F2277;
  padding: 0.5rem 2rem;
  webkit-transition: all 500ms ease;
  moz-transition: all 500ms ease;
  ms-transition: all 500ms ease;
  o-transition: all 500ms ease;
  transition: all 500ms ease;
}
body section#contacto .container-contacto .form .btn:hover {
  background: #6F2277;
  color: #ffffff;
}
body section#contacto .container-contacto .info-form {
  background: #6F2277;
  padding: 1rem 3rem;
  text-align: right;
}
body section#contacto .container-contacto .info-form .contact-info, body section#contacto .container-contacto .info-form .contact-rrss {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline-block;
}
body section#contacto .container-contacto .info-form .contact-info li, body section#contacto .container-contacto .info-form .contact-rrss li {
  display: inline-block;
  margin: 0 0.5rem;
  font-family: "Lato", sans-serif;
  color: #ffffff;
}
body section#contacto .container-contacto .info-form .contact-info li i, body section#contacto .container-contacto .info-form .contact-rrss li i {
  margin-right: 0.2rem;
}
body section#contacto .container-contacto .info-form .contact-info li a, body section#contacto .container-contacto .info-form .contact-rrss li a {
  color: #ffffff;
}
body section#contacto .container-contacto .info-form .contact-info li a:hover, body section#contacto .container-contacto .info-form .contact-rrss li a:hover {
  text-decoration: none;
}
body section#contacto .container-contacto .info-form .contact-rrss li {
  margin: 0 0.1rem;
}
body footer {
  border-bottom: 10px solid #26B9A0;
  background: #F2F2F2;
  padding: 2rem 0;
}
body footer .slick-slide {
  margin: 0 0.5rem;
}
body footer .slick-slide img {
  width: 100%;
}

@media only screen and (max-width: 425px) {
  body section#clientes img {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }
  body section#testimonio .slick-slide {
    margin: 0;
    min-height: 300px;
  }
}

/*# sourceMappingURL=main.css.map */
