// Variables
$purple: #6F2277
$green: #26B9A0
$grey: #F2F2F2
$Raleway: 'Raleway', sans-serif
$Lato: 'Lato', sans-serif

//Import
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800|Lato:400,700')
// @import "../webfonts/fa-solid.css"
// @import "../webfonts/fa-regular.css"
// @import "../webfonts/fa-brands.css"


a, div, button, input
  &:focus
    outline: none

.form-control:focus
  box-shadow: 0 0 0 0 rgba(255,255,255,0)
  border-color: transparent
.btn-primary.focus, .btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus, 
.btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus
  box-shadow: 0 0 0 0 rgba(255,255,255,0)

::selection
  background: $purple
  color: #ffffff

body
  font-family: $Raleway
  .navbar
    background: $purple
    color: #ffffff
    .menu-otras_ideas-nav-container
      margin-left: auto !important
      margin-right: .6rem
    ul
      li a
        color: #ffffff
        &:hover
          text-decoration: none
      &.rrss
        padding: 0
        margin: 0
        list-style-type: none
        li
          display: inline-block
          padding: .5rem
  
  header
    height: 70vh
    position: relative
    background-position: center
    background-size: cover
    color: #ffffff
    border-bottom: 10px solid $green
    h1
      font-weight: 800
      font-size: 1.9rem
      border-bottom: 2px solid #ffffff
      padding-bottom: 1rem 
    p
      font-weight: 600
      font-size: 1rem
    &::before
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background: rgba(111,34,119,.5)
      
  h2
    color: $purple
    font-weight: 800
    font-size: 1.8rem
    position: relative
    margin-bottom: 3rem
    &::after
      content: ''
      position: absolute
      bottom: -10px
      left: 0
      background: $purple
      width: 50px
      height: 5px

  section
    padding: 4rem 0
    &#servicios
      background: $grey
      h2
        color: $green
        &::after
          content: ''
          position: absolute
          background: $green
      .content-brouchure
        cursor: pointer
        webkit-transition: all 300ms ease
        moz-transition: all 300ms ease
        ms-transition: all 300ms ease
        o-transition: all 300ms ease
        transition: all 300ms ease
        &:hover
          -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.3)
          box-shadow: 0 0 10px 0 rgba(0,0,0,.3)
      .content-servicios
        background: #ffffff
        padding: 1rem
        webkit-transition: all 300ms ease
        moz-transition: all 300ms ease
        ms-transition: all 300ms ease
        o-transition: all 300ms ease
        transition: all 300ms ease
        height: 220px
        margin-bottom: 30px
        h3
          color: $green
          font-size: 19px
          font-weight: 700
        p
          color: #3A3A3A
          font-size: 14px
          font-weight: 300
          margin: 0
    
    &#clientes
      img
        -webkit-filter: grayscale(100%)
        filter: grayscale(100%)
        webkit-transition: all 500ms ease
        moz-transition: all 500ms ease
        ms-transition: all 500ms ease
        o-transition: all 500ms ease
        transition: all 500ms ease
        &:hover
          -webkit-filter: grayscale(0%)
          filter: grayscale(0%)
          webkit-transition: all 500ms ease
          moz-transition: all 500ms ease
          ms-transition: all 500ms ease
          o-transition: all 500ms ease
          transition: all 500ms ease

    &#equipo
      background: $grey
      .info-equipo
        margin-bottom: 4rem
        color: $purple
        font-weight: 300
      .content-equipo
        background: $purple
        padding: 1rem
        height: 250px
        color: #ffffff
        position: relative
        &::before
          content: ''
          position: absolute
          background: url(../images/arrow-team.svg)
          background-position: center
          background-size: cover
          background-repeat: no-repeat
          height: 25px
          width: 13px
          display: block
          top: calc(50% - 13px)
          left: -12px
        h4
          font-weight: 500
          font-size: 20px
          margin-bottom: 0
        h5
          font-weight: 400
          font-size: 15px
          margin-bottom: .9rem
        p
          font-weight: 300
          font-size: 14px

    &#testimonio
      .slick-slide
        padding: 3.5rem 3rem 3rem
        margin: 0 .5rem
        border: 1px solid $grey
        position: relative
        min-height: 250px
        &::before
          content: ''
          position: absolute
          width: 30px
          height: 25px
          top: 15px
          left: 15px
          background: url(../images/testimonio-izq.svg) no-repeat center
        &::after
          content: ''
          position: absolute
          width: 30px
          height: 25px
          bottom: 15px
          right: 15px
          background: url(../images/testimonio-der.svg) no-repeat center
        p
          color: $purple
          font-size: 15px
          font-weight: 400
          & span
            font-weight: 300
          &:nth-child(2)
            margin-bottom: 0
      .slick-dots li 
        padding: 0
        width: 10px
        height: 10px
        button
          padding: 0
          width: 10px
          height: 10px
          webkit-transition: all 500ms ease
          moz-transition: all 500ms ease
          ms-transition: all 500ms ease
          o-transition: all 500ms ease
          transition: all 500ms ease
          &:before
            content: ''
            width: 10px
            height: 10px
            border: 1px solid $purple
            border-radius: 50%
            opacity: 1
            webkit-transition: all 500ms ease
            moz-transition: all 500ms ease
            ms-transition: all 500ms ease
            o-transition: all 500ms ease
            transition: all 500ms ease
        button:hover:before, .slick-dots li button:focus:before
          background: $purple
        &.slick-active button:before
          opacity: 1
          background: $purple

    &#contacto
      position: relative
      .bg-contacto
        position: absolute
        background-size: cover !important
        background-position: center !important
        height: 500px
        width: 100%
      .container-contacto
        background: #ffffff
        margin-top: 250px
        box-shadow: 0 0 10px 0 rgba(0,0,0,.3)
        .form
          padding: 1.5rem 3rem
          .form-control
            padding: .375rem .75rem
            font-size: 1rem
            line-height: 1.5
            color: $purple
            border: 0
            border-bottom: 1px solid $purple
            border-radius: 0
            font-weight: 500
            font-family: $Lato
            &::-webkit-input-placeholder
              color: $purple
              font-weight: 500
            &::-moz-placeholder
              color: $purple
              font-weight: 500
            &:-ms-input-placeholder
              color: $purple
              font-weight: 500
            &:-moz-placeholder
              color: $purple
              font-weight: 500
          textarea
            resize: none
          .ajax-loader
            position: absolute
          span.wpcf7-not-valid-tip
            color: #af0c0c
            font-size: .6rem
          div.wpcf7-validation-errors, div.wpcf7-acceptance-missing,
          div.wpcf7-mail-sent-ok
            border: 0
            border-top: 2px solid $purple
            margin: 0.5em
            padding: 0.2em 0
            color: $purple
            font-size: .9rem
          .btn
            background: #ffffff
            border: 1px solid $purple
            border-radius: 0
            font-weight: 500
            color: $purple
            padding: .5rem 2rem
            webkit-transition: all 500ms ease
            moz-transition: all 500ms ease
            ms-transition: all 500ms ease
            o-transition: all 500ms ease
            transition: all 500ms ease
            &:hover
              background: $purple
              color: #ffffff
        .info-form
          background: $purple
          padding: 1rem 3rem
          text-align: right
          .contact-info, .contact-rrss
            margin: 0
            padding: 0
            list-style-type: none
            display: inline-block
            li
              display: inline-block
              margin: 0 .5rem
              font-family: $Lato
              color: #ffffff
              i
                margin-right: .2rem
              a
                color: #ffffff
                &:hover
                  text-decoration: none
          .contact-rrss li
            margin: 0 .1rem

  footer
    border-bottom: 10px solid $green
    background: $grey
    padding: 2rem 0
    .slick-slide 
      margin: 0 .5rem
      img
        width: 100%

@media only screen and (max-width: 425px)
  body 
    section
      &#clientes img
        -webkit-filter: grayscale(0%)
        filter: grayscale(0%)
      &#testimonio .slick-slide
        margin: 0
        min-height: 300px